<%- include("layout/header") %>

    <div class="Home">
        <div><h1>Dynamic QRCode Generation</h1></div>
        <ul>
            <li>
                <div class="home-hd3">
                    <h2>How many types of QR Codes are there?</h2>
                    <p>Two types: <span><B>Static and Dynamic</B></span></p>
                </div>
            </li>
            <li>
                <div class="home-hd1">
                    <h2>What is Dynamic QRCode?</h2>
                    <p>QR Code which remains static but its content can be changed at any time!</p>
                </div>
            </li>
            <li>
                <div class="home-hd2">
                    <h2>How Dynamic QRCode Works?</h2>
                    <p>This works with the help of url-Shortener</p>
                </div>
            </li>
        </ul>
        
    </div>
    <%- include("layout/footer") %>